<div class="feed-container">
  <div class="feed-title" ng-if="!hideTitle && !currentSource.user">
  
    <div class="flex-title">
      <h2 ng-cloak ng-if="currentSource.name">
          
        <span title="{{currentSource.description}}">{{currentSource.title}}</span>
    
        <a ng-if="['vlogs'].indexOf(currentSource.name) === -1" href="{{muzliShareEndpoint}}go?link=http://{{currentSource.url}}" class="titleLink">
          <i class="icon-link" title="Go to {{currentSource.title}}'s website"></i>
        </a>
    
      </h2>
      <p ng-if="currentSource.description">{{currentSource.description}}</p>
    </div>
  
    <div class="feedSorters" ng-if="['search', 'favorites'].indexOf(currentSource) === -1 && ['vlogs', 'dribbble', 'producthunt', 'colors', 'user'].indexOf(currentSource.name) === -1" ng-cloak>
      <a ng-click="::sortFeed()" ng-class="{ active: currentFeedSort !== 'virality' }" href="" title="Sort by date">Recent</a>
      <a ng-click="::sortFeed('virality')" ng-class="{ active: currentFeedSort === 'virality' }" href="" title="Sort by popularity">Popular</a>
    </div>
  
    <div class="colors-cta" ng-if="currentSource.name === 'colors'">
      <a href="https://search.muz.li/color-palette-generator"><i class="icon-plus"></i> Create a color Palette</a>
    </div>

    <div class="shortcuts-toggle" ng-if="currentSource && !currentSource.static">
  
      <p>Pin to Sidebar</p>
      
      <label class="switch" ng-click="checkAnonymousSources($event)">
        <input class="preventBlur" type="checkbox" ng-model="currentSource.isShortcut" ng-change="onToggleSource(currentSource)">
        <span class="slider"></span>
      </label>
    </div>
  
  </div>
    
  <scrollable-feed items="items" display-user="displayUser" ng-hide="errors.length" sponsored="sponsored" load-on-sort show-favorite>
    <scrollable-feed-no-data ng-if="!isCurrentUser">
      <div id="oops">No items yet today <a href="" ng-click="::reload()">Try again</a></div>
    </scrollable-feed-no-data>
  </scrollable-feed>
</div>
