<nav class="tabs sticky" ng-class="{loaded: navTabsLoaded}">
	
	<a href="" ng-click="::setFeedFilter('all')" ng-class="{ active: currentFeedFilter === 'all' }">Highlights</a>

	<a href="" ng-click="::setFeedFilter(focusedTab.name)" ng-class="{ active: currentFeedFilter === focusedTab.name }">{{focusedTab.title}}</a>

	<a href="" ng-click="::setFeedFilter('top')" ng-class="{ active: currentFeedFilter === 'top' }"><i class="icon-trend"></i> Trending</a>
	
	<!-- Repeat category tabs w/ ordering function -->
	<a href="" ng-repeat="nav in navTabs" ng-click="::setFeedFilter(nav.name)" ng-class="{ active: currentFeedFilter === nav.name }">{{nav.title}}</a>

	<a href="" ui-sref="store" ng-if="useV4" ng-click="::setFeedFilter('store')">Store</a>
	
	<a href="" ui-sref="jobs" ng-if="useV4" ng-click="::setFeedFilter('jobs')">Jobs</a>
	
</nav>

<div class="home-content home-speed-dial" ng-class="{'speed-dial-enabled': useSpeedDial}">

	<div class="fade-in our-picks">

		<div class="spacer">
			
			<div class="search-container" ng-class="{
				hidden: feedVisibleClass,
			}">
				<form ng-submit="search(searchModel[activeSearch], $event, activeSearch)" id="searchForm">
	
					<div class="input" ng-class="{active: !!searchModel[activeSearch]}">
	
						<i class="icon-search-lite"></i>
	
						<input name="qMuzli"
							class="{{defaultSearch === 'muzli' ? '' : 'secondary'}}"
							tabindex="{{defaultSearch === 'muzli' ? 1 : 2}}" 
							placeholder="{{defaultSearch === 'muzli' ? 'Search on Muzli' : 'or Muzli'}}" 
							maxlength="50" 
							type="text" 
							ng-model="searchModel.muzli" 
							ng-focus="setSearch('muzli')" 
							lookahead
							/>
		
						<input name="qGoogle" 
							class="{{defaultSearch === 'web' ? '' : 'secondary'}}"
							tabindex="{{defaultSearch === 'web' ? 1 : 2}}" 
							placeholder="{{defaultSearch === 'web' ? 'Search the Web' : 'or Web'}}" 
							maxlength="50" 
							type="text" 
							ng-model="searchModel.google" 
							ng-focus="setSearch('google', $event)" 
							lookahead
						/>	
													
						<i class="search-config icon-web v4-only" tabindex="2" ng-class="{active: defaultSearch === 'web'}" title="Search the Web" ng-click="search(searchModel[activeSearch], $event, 'google')" trigger-search="google"></i>
						<i class="search-config icon-muzli v4-only" tabindex="3" ng-class="{active: defaultSearch === 'muzli'}" title="Search on Muzli" ng-click="search(searchModel[activeSearch], $event, 'muzli')" trigger-search="muzli"></i>
						
						<input type="submit" />
	
					</div>
	
				</form>
			</div>
	
			<div class="home-title" ng-if="!useSpeedDial && recentSites.length">
				<div class="mostVisitedContainer">	
					<ul class="mostVisited" ng-if="recentSites.length" ng-cloak>
						<li ng-repeat="site in recentSites"
							title='{{site.cleanUrl}}'
							ng-class="{error: site.error}"
							style="{{site.imgUrl ? 'background-image: url(' + site.imgUrl + ')' : '' }}">
							<a ng-href='{{site.url}}' ng-click="events.quickAccess.click(site.cleanUrl)"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="home-title" ng-if="useSpeedDial">
			<style>
				:root {
					--items-per-row: {{speedDialItemsPerRow}};
				}
			</style>

			<div class="speed-dial">

				<ul class="speed-dial-container" ng-if="speedDialLinks.length" ng-class="{'no-titles': !showSDLabels}" ng-cloak>
					<li ng-repeat="link in speedDialLinks track by $index"
						title='{{link.domain || link.url}}'
						ng-class="{error: link.error}">

						<a ng-href='{{link.url}}' ng-click="events.speedDial.click(link.url)">
							<div ng-if="link.iconFallback === 'server'" class="icon server"></div>
							<div ng-if="link.iconFallback === 'file'" class="icon file"></div>
							<div ng-if="link.iconFallback === 'monogram'" class="icon monogram">{{(link.title || link.domain).charAt(0)}}</div>
							<div ng-if="!link.iconFallback" class="icon image">
								<img src="{{link.icon}}" sd-image-fallback />
							</div>
							<p ng-hide="!showSDLabels">{{link.title || link.domain || link.url}}</p>
						</a>
					</li>
					<li class="edit-speed-dial" ng-click="$state.go('speed-dial')" title="Customize Speed Dial">
						<i class="icon-menu"></i>
					</li>
				</ul>

				<ul ng-if="!speedDialLinks.length" ng-cloak class="placeholder">

					<li ng-repeat="link in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] track by $index">
						<a>
							<div class="icon"></div>
							<p></p>
						</a>
					</li>

					<li class="edit-speed-dial" ng-click="$state.go('speed-dial')" title="Customize Speed Dial">
						<i class="icon-menu"></i>
					</li>

					<div class="ftx-tip most-visited-promo" ng-if="vm.ftxLeft.indexOf('speed-dial') !== -1">

						<div class="ftx-pop most-visited-promo"></div>

						<p>Do you want to keep seeing links from your old New Tab page?</p>
						
						<div class="controls">
							<a href="" class="dismiss" ng-click="::dismissSpeedDialPrompt()">No</a>
							<a href="" class="enable" ng-click="::acceptSpeedDialPrompt()">Yes</a>
						</div>
					</div>

					<div class="ftx-tip most-visited-promo" ng-if="vm.ftxLeft.indexOf('speed-dial') === -1">

						<p>You have no Speed Dial links.<br>Do you want to add them?</p>
						
						<div class="controls">
							<a href="" class="dismiss" ng-click="::dismissSpeedDialPrompt()">No</a>
							<a href="" class="enable" ng-click="::acceptSpeedDialPrompt()">Yes</a>
						</div>
					</div>
				</ul>

			</div>
		</div>

		<section id="sticky" ng-class="{
			'show': areHomeImagesLoaded
		}">
			
			<!-- Sticky posts -->
			<ul class="picks grid dark">
				
				<li ng-repeat="item in muzliFeed track by (item.id || item.link)" 
					ng-class="::{
						viral: item.viral,
						video: !!item.video,
						playing: item.playing,
						'inline-video': !!item.htmlVideo,
						animated: !!item.animated,
						nsfw: !!item.nsfw || !!item.userNSFW,
						showSharePromo: item.displaySharePromo,
						showMenu: item.showMenu,
					}"
					ng-if="!item.userHidden"
					data-muzli-id="{{::item.id}}"
					ng-include="'modules/muzli/card.drv.html'">	
				</li>
			
				<!-- DYNAMIC SLOT -->
				<li class="dynamic" ng-init="item = dynamicFeed[0]" ng-if="dynamicFeed.length && feedVariation !== 2"
					ng-class="::{
						viral: item.viral,
						video: !!item.video,
						playing: item.playing,
						'inline-video': !!item.htmlVideo,
						animated: !!item.animated,
						nsfw: !!item.nsfw || !!item.userNSFW,
						showSharePromo: item.displaySharePromo,
						showMenu: item.showMenu,
						hidden: item.userHidden,
					}"
					data-muzli-id="{{::item.id}}"
					>	

						<div ng-include="'modules/muzli/card.drv.html'"></div>

						<div class="link">
							<a href="" ng-if="feedVariation === 0">
								<i class="icon-trend"></i> Trending on Muzli
							</a>
							<a href="" ng-if="feedVariation === 1">
								<i class="icon-hot"></i> Hot Right Now!
							</a>
						</div>
				</li>

				<!-- DYNAMIC SLOT W/ ADS -->

				<!-- Possible source options
					dynamic
					self-service
					carbon-native 
				-->

				<li class="dynamic sponsored-single muli-ad" 
					ng-init="item = dynamicFeed[0]; isCarbon = item.source === 'carbon-native';" 
					ng-if="feedVariation === 2 && dynamicFeed.length"
					ng-class="::{
						'animated': item.isGif,
					}"
					data-muzli-id="{{::item.id}}"
					>	
						
						<div ng-include="'modules/muzli/card-sponsored.drv.html'"></div>

						<div class="link">

							<a ng-if="!user.referralCode" ng-click="vm.showAdsDialog = true">
								<span ng-if="item.source === 'dynamic' || item.source === 'self-service'">Ad by Muzli <span class="chevron">›</span></span>
								<span ng-if="item.source === 'carbon-native'">Ad by Carbon <span class="chevron">›</span></span>
							</a>
							
							<ad-free ng-if="user.referralCode"></ad-free>

							<img ng-if="item.beacon" class="beacon" style="visibility: hidden;" ng-src="{{::item.beacon}}" alt="Sponsored" />
							
						</div>
				</li>

			</ul>

			<ul class="picks skeleton">
				<li ng-repeat="item in [1, 2, 3, 4, 5, 6, 7, 8]">
					<div class="tile"></div>
				</li>
			</ul>

		</section>

		<div class="spacer"></div>
		</div>

	<div class="lock-height" ng-class="{'home-visible': feedVisibleClass}">

		<div class="feed-head v4-only">
			<h2>{{currentTitle}}</h2>
			<a href="" ng-click="toggleSidebar()" class="preferences" title="Customise feed">
				<i class="icon-prefs-lite"></i>
				<div class="ftx-pop sidebar-promo" ng-if="vm.ftxLeft.indexOf('sidebar') !== -1" ng-cloak></div>
			</a>
		</div>

		<nav class="tabs inline">
			<a href="" ng-click="::setFeedFilter('all')" ng-class="{ active: currentFeedFilter === 'all' }">Your Highlights</a>

			<a href="" ng-click="::setFeedFilter(focusedTab.name)" ng-class="{ active: currentFeedFilter === focusedTab.name }">{{focusedTab.title}}</a>
			
			<a href="" ng-click="::setFeedFilter('top')" ng-class="{ active: currentFeedFilter === 'top' }"><i class="icon-trend"></i> Trending</a>
			
			<!-- Repeat category tabs w/ ordering function -->
			<a href="" ng-repeat="nav in navTabs | orderBy:'order'" ng-click="::setFeedFilter(nav.name)" ng-class="{ active: currentFeedFilter === nav.name }">{{nav.title}}</a>
			
			<a href="" ui-sref="store" ng-click="::setFeedFilter('store')">Store</a>

			<a href="" ui-sref="jobs" ng-click="::setFeedFilter('jobs')">Jobs</a>
		
			<a href="" ng-click="toggleSidebar()" class="preferences" title="Customise feed">
				<i class="icon-prefs"></i>
				<div class="ftx-pop sidebar-promo" ng-if="vm.ftxLeft.indexOf('sidebar') !== -1" ng-cloak></div>
			</a>

		</nav>
		
		<scrollable-feed ng-if="currentFeedFilter === 'top'" items="allFeed" sponsored="sponsored" filter="currentFeedFilter" jobs="jobs" ng-hide="errors.length" load-on-sort="viralTimes" show-favorite ng-cloak></scrollable-feed>

		<scrollable-feed ng-if="currentFeedFilter !== 'top'" items="allFeed" sponsored="sponsored" filter="currentFeedFilter" jobs="jobs" ng-hide="errors.length" load-on-sort="viralTimes" show-favorite ng-cloak></scrollable-feed>

	</div>

</div>
