<div class="tile">
    <a target='_blank' class="feedLink" ng-href="{{::carbonAd.link}}" ng-click="::promotionClick()">
        <div class="postPhoto">

            <img ng-if="!carbonAd.image"
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII="
                alt="" />
            <img ng-if="carbonAd.image" ng-src="{{::carbonAd.image}}" alt="" />
            <img class="beacon" style="visibility: hidden;" ng-src="{{::carbonAd.beacon}}" ng-if="showAdPixel"
                alt="" />
            <img ng-repeat="pixel in carbonAd.pixels" ng-src="{{::pixel}}" style="display:none;" height="0" width="0" />

            <ng-container ng-if="showBackfill">
                <img ng-if="!carbonAd.image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" alt=""/>
                <img ng-if="carbonAd.image" ng-src="{{::carbonAd.image}}" alt=""/>
                <img class="beacon" style="visibility: hidden;" ng-src="{{carbonAd.beacon}}" ng-if="showPixel" alt=""/>
            </ng-container>
        </div>
        <div class="postInfo">
            <h3>{{::carbonAd.name}}</h3>
        </div>
    </a>
    <div class="postMeta">
        <div class="details angular-animate">
            <div class="post-menu">
                <i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>
                <ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
                    <li><a href="" ng-click="vm.showAdsDialog = true; item.showMenu = false;">Why I'm seeing Ads?</a></li>
                    <li><a href="" ui-sref="all.referral" ng-click="item.showMenu = false">Hide all Ads on Muzli</a></li>
                </ul>
            </div>
            <h4>{{carbonAd.channel === 'sponsored' ? 'PROMOTED' : 'AD BY CARBON'}}</h4>
        </div>
    </div>
</div>