<div class="blocker speed-dial-page">

    <a href="/" ui-sref="all" class="close">
        <i class="icon-close"></i>
    </a>

    <div class="settings-container">

        <div class="settings">
            <h1>Customize Speed Dial</h1>
            <p>On this side you can select the links you see in your new tab.</p>

            <section ng-if="!speedDial.hasPermissions.topSites">

                <h2>Import links from your browser</h2>

                <div class="container">
                    <p>Use your frequently visited sites (same as your browser's new tab)</p>
                    <div class="cta large">
                        <button ng-click="requestPermissions('topSites')"><i class="icon-time-hollow"></i> Import most visited links</button>
                    </div>
                </div>
            
            </section>
            

            <section ng-if="speedDial.hasPermissions.topSites">
                <h2>Import links from your browser</h2>

                <div class="section-header">
                    <div>
                        <span><i class="icon-time-hollow pane-icon"></i> Most visited websites ({{topSites.length}})</span>
                        <p>Add sites you frequently visit.</p>
                    </div>

                    <label class="switch" ng-if="speedDial.hasMostVisitedAdded">
                        <input class="preventBlur" type="checkbox" ng-model="speedDial.showMostVisitedList"
                            ng-change="toggleMostVisited(speedDial.showMostVisitedList)">
                        <span class="slider"></span>
                    </label>

                    <i class="icon-right" ng-class="{
                        active: speedDial.showMostVisitedList
                        }" 
                        ng-if="useV4 && speedDial.hasMostVisitedAdded" 
                        ng-click="speedDial.showMostVisitedList = !speedDial.showMostVisitedList">
                    </i>

                    <div class="cta" ng-if="!speedDial.hasMostVisitedAdded">
                        <button ng-click="toggleMostVisited(true)">Add</button>
                    </div>
                </div>

                <div class="section-content" ng-class="{hidden: !speedDial.showMostVisitedList}">
                    <ul>
                        <li ng-repeat="link in topSites track by $index" 
                            ng-click="toggleLink(link)"
                            ng-class="{
                                active: isLinkActive(link)
                            }">

                            <img ng-if="link.imgUrl" src="{{link.imgUrl}}" alt="{{link.url}}" sd-image-fallback>
                            <span>{{link.title}}</span>
                            <i class="icon-check"></i>
                        </li>
                    </ul>
                </div>
            </section>

            <section ng-if="!speedDial.hasPermissions.bookmarks">

                <div class="container">
                    <p>Import links from your Bookmarks bar.</p>
                    <div class="cta large">
                        <button ng-click="requestPermissions('bookmarks')"><i class="icon-favorite-hollow"></i> Import bookmarks bar</button>
                    </div>
                </div>

            </section>


            <section ng-if="speedDial.hasPermissions.bookmarks">

                <div class="section-header">
                    <div>
                        <span><i class="icon-fav-hollow pane-icon"></i> Your Bookmarks bar ({{bookmarks.length}})</span>
                        <p>Add links from your Bookmarks Bar.</p>
                    </div>

                    <label class="switch" ng-if="speedDial.hasBookmarksAdded">
                        <input class="preventBlur" type="checkbox" ng-model="speedDial.showBookmarksList"
                            ng-change="toggleBookmarks(speedDial.showBookmarksList)">
                        <span class="slider"></span>
                    </label>

                    <i class="icon-right" ng-class="{
                        active: speedDial.showBookmarksList
                        }" 
                        ng-if="useV4 && speedDial.hasBookmarksAdded" 
                        ng-click="toggleBookmarks(!speedDial.showBookmarksList)">
                    </i>

                    <div class="cta" ng-if="!speedDial.hasBookmarksAdded">
                        <button ng-click="toggleBookmarks(true)">Add</button>
                    </div>
                </div>

                <div class="section-content" ng-class="{hidden: !speedDial.showBookmarksList}">
                    <ul>
                        <li ng-repeat="link in bookmarks track by $index" 
                            ng-click="toggleLink(link)"
                            ng-class="{
                                active: isLinkActive(link)
                            }">

                            <img ng-if="link.imgUrl" src="{{link.imgUrl}}" alt="{{link.url}}" sd-image-fallback>
                            <span>{{link.title || link.url}}</span>
                            <i class="icon-check"></i>
                        </li>
                    </ul>
                </div>

            </section>

            <section>
                <h2>Manually add links</h2>

                <form ng-submit="::addCustomLink(newLink.link, $event)" id="linkForm">

                    <input tabindex="1" type="url" ng-model="newLink.link" placeholder="Enter page URL"
                        name="newLink.link" />
                        
                    <p class="error" ng-if="badUrl">Please provide a valid link</p>

                    <div class="cta relative">
                        <button type="submit">Add</button>
                    </div>

                </form>

                <div class="section-content">
                    <ul>
                        <li ng-repeat="link in speedDialLinks | filter: { type: 'custom' } track by $index">

                            <div ng-if="link.iconFallback === 'monogram'" class="monogram">{{(link.title || link.domain).charAt(0)}}</div>
							<div ng-if="!link.iconFallback" class="image">
                                <img src="{{link.icon}}" alt="{{link.url}}" sd-image-fallback>
							</div>

                            <span>{{link.url}}</span>
                            <i class="icon-close" ng-click="removeLink(link)"></i>
                            <i class="icon-bin" ng-if="useV4" ng-click="removeLink(link)"></i>
                        </li>
                    </ul>
                </div>

                <small class="privacy"><i class="icon-lock"></i> We care about your privacy. We do not track your
                    browsing activity.</small>
            </section>

        </div>
    </div>

    <div class="preview">

        <div class="overlay" ng-if="currentEditLink"></div>
        <dialog ng-if="currentEditLink" click-outside="::closeLinkModal()">
            <form id="linkForm" ng-submit="::saveLink()">
                
                <h1>Edit link</h1>
                
                <input tabindex="1" type="text" ng-model="currentEditLink.title" placeholder="Link title" name="linkTitle" autofocus="100"/>
                <input tabindex="1" type="text" ng-model="currentEditLink.url" placeholder="Link URL" name="linkUrl"/>
                
                <h3 class="error" ng-if="emptyError">Please provide a link</h3>
                
                <div class="cta">
                    <button type="submit">Done</button>
                </div>
        
            </form>
        </dialog>


        <div class="content">
            <h2>Muzli Speed Dial</h2>
            <p>Just like in your original New Tab Page, you can select any links you want to see when you open a new tab. Or leave it empty for a super clean look.</p>
        </div>

        <style>
            :root {
                --items-per-row: {{ speedDialItemsPerRow }};
            }
        </style>

        <div class="home-title speed-dial">

            <div class="speed-dial">

                <ul ng-if="speedDialLinks.length" ui-sortable="speedDialSortableOptions" ng-model="speedDialLinks" ng-class="{'no-titles': !showSDLabels}" ng-cloak>

                    <li ng-repeat="link in speedDialLinks track by $index"
                        ng-class="{error: site.error}">

                        <a ng-click="events.speedDial.click(link.url)" title='{{link.url}}'>
                            <div ng-if="link.iconFallback === 'server'" class="icon server"></div>
							<div ng-if="link.iconFallback === 'file'" class="icon file"></div>
							<div ng-if="link.iconFallback === 'monogram'" class="icon monogram">{{(link.title || link.domain).charAt(0)}}</div>
                            <div ng-if="!link.iconFallback" class="icon image">
								<img src="{{link.icon}}" sd-image-fallback />
							</div>
							<p ng-hide="!showSDLabels">{{link.title || link.domain || link.url}}</p>
                        </a>

                        <i class="icon-close" ng-click="removeLink(link)"></i>
                        <i class="icon-edit" ng-click="editLink(link)"></i>
                    </li>

                </ul>

                <ul ng-if="!speedDialLinks.length" ng-cloak class="placeholder">
                    <li ng-repeat="link in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] track by $index">
                        <a>
                            <div class="icon"></div>
                            <p></p>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <div class="cta large">
            <button ng-click="saveSpeedDial()" ng-class="{empty: !speedDialLinks.length}">{{speedDialLinks.length ? 'Looks good' : 'Do not use Speed Dial'}}</button>
        </div>

        <div class="options">
            <div class="input-group">
                <label class="switch elevated" ng-click="checkAnonymous($event)" ng-class="{disabled: user.anonymous}">
                    <input class="preventBlur" type="checkbox" ng-model="syncSDLinks" ng-change="onsyncSDLinksChange()" ng-disabled="user.anonymous">
                    <span class="slider"></span>
                </label>
                <div>
                    <p>Sync links with your Muzli account</p>
                    <p class="info">
                        <small ng-if="!syncSDLinks && !showSignInPrompt">Your links are saved locally right now. They will be lost if you reinstall your browser or Muzli.</small>
                        <small ng-if="syncSDLinks && !showSignInPrompt"><i class="icon-lock"></i> Your links are synched with your Muzli account. We will keep them encrypted for extra security.</small>
                        <small ng-if="showSignInPrompt">You have to <a href="" ui-sref="sign-in({returnTo: 'speed-dial'})">sign-in</a> to sync links.</small>
                    </p>
                </div>
            </div>
            <div class="input-group">
                <label class="switch elevated">
                    <input class="preventBlur" type="checkbox" ng-model="showSDLabels" ng-change="onShowSDLabelsChange()">
                    <span class="slider"></span>
                </label>
                <div>
                    <p>Show Labels</p>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
</style>