<div class="blocker welcome auth overlay" ng-class="{dark: useV4}">
  
  <div class="auth-email" ng-if="user.showEmailSignIn == true">
    <dialog ng-include="'templates/dialog.email.html'" class="auth-email" ng-if="true" click-outside="user.showEmailSignIn = false" ng-controller="emailAuthController" ng-cloak></dialog>
  </div>
  
  <div class="frame">

    <a href="" ui-sref="all" class="close">
      <i class="icon-close"></i>
    </a>

    <div ng-if="user.hasUserLogin">

      <h3>Sign back in to fetch your preferences.</h3>
      
      <div class="buttons">
        <a class="button google" href="" ng-click="loginGoogle()" ng-if="!user.provider || user.provider === 'google'"><i class="icon-google"></i><span>Sign in with Google</span></a>
        <a class="button facebook" href="" ng-click="loginFacebook()" ng-if="!user.provider || user.provider === 'facebook'"><i class="icon-facebook"></i><span>Sign in with Facebook</span></a>
        <a class="button twitter" href="" ng-click="loginTwitter()" ng-if="!user.provider || user.provider === 'twitter'"><i class="icon-google"></i><span>Sign in with Twitter</span></a>
        <a class="button email" href="" ng-click="user.showEmailSignIn = true" ng-if="!user.provider || user.provider === 'email'"><i class="icon-email"></i><span>Sign in with Email</span></a>
      </div>

      <p>Other Sign In options:</p>
      <div class="buttons alt-auth" ng-if="user.provider">
        <i class="icon-google" ng-click="loginGoogle()" ng-if="user.provider !== 'google'"></i>
        <i class="icon-facebook" ng-click="loginFacebook()" ng-if="user.provider !== 'facebook'"></i>
        <i class="icon-twitter" ng-click="loginTwitter()" ng-if="user.provider !== 'twitter'"></i>
        <i class="icon-email" ng-click="user.showEmailSignIn = true" ng-if="user.provider !== 'email'"></i>
      </div>

      <div class="notes">
        <p><strong>We'll never</strong> post to Twitter, Facebook or Google on your behalf or without permission.</p>
      </div>
    </div>

    <div ng-if="!user.hasUserLogin">

      <p>Create an account to unlock all the benefits of Muzli - easily save, like, or submit your favorite content.</p>
      
      <div class="buttons">

        <a class="button google" href="" ng-click="loginGoogle()"><i class="icon-google"></i><span>Sign up with Google</span></a>
        <a class="button facebook" href="" ng-click="loginFacebook()"><i class="icon-facebook"></i><span>Sign up with Facebook</span></a>
        <a class="button twitter" href="" ng-click="loginTwitter()"><i class="icon-twitter"></i><span>Sign up with Twitter</span></a>

        <span class="separator"></span>

        <a class="button email" href="" ng-click="user.showEmailSignIn = true"><i class="icon-email"></i><span>Sign up via Email</span></a>
        
      </div>

      <div class="notes">
        <p>
          By signing in I agree to Muzli's <a href="https://muz.li/terms" target="_blank">Terms of Service</a> and <a href="https://muz.li/privacy" target="_blank">Privacy Policy</a>.
        </p>
        <p>
          <strong>We'll never</strong> post to Twitter, Facebook or Google on your behalf or without permission.
        </p>
      </div>
    </div>

    <div class="bg">
      <div class="face face-1"></div>
      <div class="face face-3"></div>
    </div>

  </div>

  <div class="bg-content" ng-if="useV4"></div>

</div>
