<div class="wrapper" ng-if="!isLoading" ng-cloak>

  <!-- Sign In -->
  <form ng-submit="::emailSignUp(signUpModel, $event)" class="sign-in" id="sign-in-form" ng-if="state === 'sign-in'">

    <p>Welcome back!</p>

    <p class="small">Enter your email to continue…</p>
    
    <input type="email" ng-model="signUpModel.email" placeholder="Your Email" name="email" required autofocus="400"/>
    
    <p class="error" ng-if="doesNotExist">Oops, it seems account with such email does not exist.</p>
    
    <button type="submit" class="cta">Continue</button>

    <a href="" class="toggle-signin" ng-click="switchState('sign-up', $event, $event)">I'm new to Muzli</a>

  </form>
  

  <!-- Sign Up -->
  <form ng-submit="::emailSignUp(signUpModel, $event)" id="sign-up-form" ng-if="state === 'sign-up'" is-eu-user>

    <p>Enter your email to Sign up</p>

    <span class="prop" ng-if="useV4">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </span>
    
    <input type="text" ng-model="signUpModel.name" placeholder="Your Name" name="name" required autofocus="400"/>
    <input type="email" ng-model="signUpModel.email" placeholder="Email" name="email" required />
    
    <button type="submit" class="cta">Sign Up</button>

    <a href="" class="toggle-signin" ng-click="switchState('sign-in', $event)">I already have Muzli account</a>

  </form>


  <!-- Verify -->
  <form ng-submit="::emailVerify(signUpModel, $event)" id="sign-in-form" ng-if="state === 'verify'">

    <p>Verify your email</p>

    <p class="small">We just sent your activation code to <strong>{{signUpModel.email}}</strong><br>Enter the code below to confirm your email address.</p>
    
    <span class="prop" ng-if="useV4">
      <i></i>
      <i></i>
      <i></i>
      <i></i>
      <i></i>
    </span>

    <div class="verify" verify-input>
      <input type="text" ng-model="signUpModel.verification[0]" placeholder="0" name="verification1" autofocus="400"/>
      <input type="text" ng-model="signUpModel.verification[1]" placeholder="0" name="verification2"/>
      <input type="text" ng-model="signUpModel.verification[2]" placeholder="0" name="verification3"/>
      <input type="text" ng-model="signUpModel.verification[3]" placeholder="0" name="verification4"/>
      <input type="text" ng-model="signUpModel.verification[4]" placeholder="0" name="verification5"/>
      <input type="text" ng-model="signUpModel.verification[5]" placeholder="0" name="verification6"/>
    </div>

    <p class="error" ng-if="tooManyAttempts">That's too many attempts for your code. Try Sign In later.</p>
    <p class="error" ng-if="badVerification">Incorrect code.</p>
    
    <button type="submit" class="cta">Done</button>

    <small>Make sure to keep this window open while <br> you check your inbox. 
        <a href="" ng-click="::emailResend($event)" ng-if="!signUpModel.isResending">Resend code</a>
        <strong ng-if="signUpModel.isResending">Code was sent again, check your inbox.</strong>
    </small>

  </form>

  <div class="notes">
    <p>
      By signing in I agree to Muzli's <a href="https://muz.li/terms" target="_blank">Terms of Service</a> and <a href="https://muz.li/privacy" target="_blank">Privacy Policy</a>.
    </p>
    <p>
      <strong>We'll never</strong> post to Twitter, Facebook or Google on your behalf or without permission.
    </p>
  </div>

</div>


<div class="loading" ng-if="isLoading" ng-cloak>

  <div class="loader">

    <h1>Fetching content, please hold...</h1>

    <div class="preloader-wrapper active">
      <div class="spinner-layer" [ngStyle]="{'border-color': color}">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

  </div>

</div>