<div class="wrapper" ng-if="!blocker.loading">
  <div class="avatar">
    <span class="icon-muzli" ng-if="::!blocker.avatar"></span>
    <img ng-src="{{blocker.avatar}}" alt="{{blocker.name}}" ng-if="::blocker.avatar">
  </div>
  <h4>{{blocker.name}}</h4>
  <p>{{blocker.content}}</p>
  <button ng-click="updateExtension($event)"><i class="icon-refresh"></i>UPDATE NOW</button>
</div>
<div class="wrapper" ng-if="blocker.loading">
  <div class="avatar">
    <div class="spinner"></div>
  </div>
  <h4>Just one moment...</h4>
  <p>
    This notification should disappear automatically after the update. If it doesn't - try reloading this tab.
    <br>
    <small>
      Still not updating?
      <a href="https://medium.muz.li/how-to-update-muzli-for-the-latest-version-5f237dd7f18a" target="_bank">
      Update manually
      </a>
    </small>
  </p>
</div>