<div class="wrapper discord-modal" ng-cloak>

  <h1>Reach us out on Muzli Community Discord</h1>

  <p>Come on over and join our Discord server! It's a great place to connect with us and meet other creative folks.</p>

  <div class="cta">
    <a href="https://discord.gg/JufdrnxpyA" target="_blank"><i class="icon-discord"></i> Join Muzli on Discord</a>
  </div>
  
  <p>
    Here's what you can do in our Discord server:
    <ul>
      <li>Share your creative projects with the community <a href="https://discord.com/channels/1122528345716957347/1122528346258026508" target="_blank">#general</a></li>
      <li>Recommend content ideas for Muzli <a href="https://discord.com/channels/1122528345716957347/1122533610285703189" target="_blank">#content-suggestions</a></li>
      <li>Suggest new features <a href="https://discord.com/channels/1122528345716957347/1122532913024618595" target="_blank">#feature-requests</a></li>
      <li>Let us know if you find any bugs <a href="https://discord.com/channels/1122528345716957347/1122533096382795777" target="_blank">#bug-reports</a></li>
      <li>Find or post about creative job opportunities <a href="https://discord.com/channels/1122528345716957347/1122533495802171512" target="_blank">#jobs</a></li>
    </ul>
  </p>

  <p>
    <small>Keep in mind that we're based in European time zones, so we might not be online right when you are, but we'll do our best to respond to you. Looking forward to chatting with you!</small>
  </p>

</div>
