<div class="ftx-tip sidebar-promo fade-in" ng-if="vm.showFtx === 'sidebar' && !flags.useAnonymousSources" click-outside="vm.showFtx = false" ng-cloak>
	<h3>Add or remove shortcuts for quickly accessing your favorite channels.</h3>
	<p>We already have added some, based on content preferences you have previously selected.</p>
</div>

<div class="ftx-tip sidebar-promo fade-in" ng-if="vm.showFtx === 'sidebar' && flags.useAnonymousSources" ng-cloak>
	<h3>You can customize all the content you see</h3>
	<p>
		Here, you can turn specific content sources on and off. <br/>
		We've already turned some on based on your content preferences.
	</p>
	<div class="controls">
		<a href="" ng-click="showFtx('scroll')">Skip tutorial</a>
		<a href="" ng-click="showFtx('settings');">Next</a>
	</div>
</div>

<div class="ftx-tip settings-promo fade-in" ng-if="vm.showFtx === 'settings' && !flags.useAnonymousSources" click-outside="vm.showFtx = false" ng-class="{open: !settingsOpen}" ng-cloak>
	<h3>Customize your preferences</h3>
	<p>You can change display settings, content preferences, add shortcuts to your most visited sites, change color theme and more...</p>
</div>

<div class="ftx-tip settings-promo fade-in" ng-if="vm.showFtx === 'settings' && flags.useAnonymousSources" ng-class="{open: !settingsOpen}" ng-cloak>
	<h3>Customize your preferences</h3>
	<p>You can change display settings, content preferences, add shortcuts to your most visited sites, change color theme and more...</p>
	<div class="controls">
		<a href="" ng-click="showFtx('scroll')">Skip tutorial</a>
		<a href="" ng-click="showFtx('scroll')">Next</a>
	</div>
	<a class="user-icon" href="" ng-cloak ng-click="openMenu(null, $event)" title="Settings" ng-if="!settingsOpen">
		<img class="avatar" ng-src="{{::user.photo}}" alt="" ng-if="user.photo" avatar-error />
		<i class="icon-user" ng-if="!user.photo"></i>
	</a>
</div>

<div class="ftx-tip scroll-promo" ng-if="vm.showFtx === 'scroll'" ng-cloak>
	<h3>You are all set!</h3>
	<p>Scroll down or click here to dive in and see more</p>
</div>

<div class="ftx-tip speed-dial-promo" ng-if="vm.showFtx === 'speed-dial'" click-outside="vm.showFtx = false" ng-cloak>
	<h3>Start here</h3>
	<p>This is the easiest way to keep the same links from your old New Tab page.</p>
	<div class="ftx-pop speed-dial-promo"></div>
</div>