<!-- Sticky posts -->
<ul class="picks grid">
    
    <li ng-repeat="item in muzliFeed track by (item.id || item.link)" 
        ng-class="::{
            viral: item.viral,
            video: !!item.video,
            playing: item.playing,
            'inline-video': !!item.htmlVideo,
            animated: !!item.animated,
            nsfw: !!item.nsfw || !!item.userNSFW,
            showSharePromo: item.displaySharePromo,
            showMenu: item.showMenu,
        }"
        ng-if="!item.userHidden"
        data-muzli-id="{{::item.id}}"
        ng-include="'modules/muzli/card.drv.html'">	
    </li>

    <!-- DYNAMIC SLOT -->
    <li class="dynamic" ng-init="item = dynamicFeed[0]" ng-if="dynamicFeed.length && feedVariation !== 2"
        ng-class="::{
            viral: item.viral,
            video: !!item.video,
            playing: item.playing,
            'inline-video': !!item.htmlVideo,
            animated: !!item.animated,
            nsfw: !!item.nsfw || !!item.userNSFW,
            showSharePromo: item.displaySharePromo,
            showMenu: item.showMenu,
            hidden: item.userHidden,
        }"
        data-muzli-id="{{::item.id}}"
        >	

            <div ng-include="'modules/muzli/card.drv.html'"></div>

            <div class="link">
                <a href="" ng-if="feedVariation === 0">
                    <i class="icon-trend"></i> Trending on Muzli
                </a>
                <a href="" ng-if="feedVariation === 1">
                    <i class="icon-hot"></i> Hot Right Now!
                </a>
            </div>
    </li>

    <!-- DYNAMIC SLOT W/ ADS -->

    <!-- Possible source options
        dynamic
        self-service
        carbon-native 
    -->

    <li class="dynamic sponsored-single" 
        ng-init="item = dynamicFeed[0]; isCarbon = item.source === 'carbon-native';" 
        ng-if="feedVariation === 2 && dynamicFeed.length"
        ng-class="::{
            'muli-ad': !isCarbon,
            'carbon-ad': isCarbon,
            'animated': item.isGif,
        }"
        data-muzli-id="{{::item.id}}"
        >	
            
            <div ng-if="!isCarbon" ng-include="'modules/muzli/card-sponsored.drv.html'"></div>
            <div ng-if="isCarbon" ng-include="'modules/muzli/card-carbon.drv.html'"></div>

            <div class="link">

                <a ng-if="!user.referralCode" ng-click="vm.showAdsDialog = true">
                    <span ng-if="item.source === 'dynamic' || item.source === 'self-service'">Ad by Muzli <span class="chevron">›</span></span>
                    <span ng-if="item.source === 'carbon-native'">Ad by Carbon <span class="chevron">›</span></span>
                </a>
                
                <ad-free ng-if="user.referralCode"></ad-free>
                
                <img ng-if="item.beacon" class="beacon" style="visibility: hidden;" ng-src="{{::item.beacon}}" alt="Sponsored" />
                
            </div>
    </li>

</ul>

<ul class="picks skeleton">
    <li ng-repeat="item in [1, 2, 3, 4, 5, 6, 7, 8]">
        <div class="tile"></div>
    </li>
</ul>

