<!-- Settings -->
<div id="settings" class="cf" ng-class="{ isLite: isLiteVersion === true || isLiteVersion === false }">

  <div id="user" ng-cloak>

    <div class="loggedIn" ng-show="user && !user.anonymous">

      <a tabindex="-1" href="" ng-click="::logOut()">Logout</a>

      <div class="userInfo">
        <h5>
          {{::(user.displayName || user.email)}}
          <br>
          <span>via {{::(user.provider && (user.provider[0].toUpperCase() + user.provider.substr(1)))}}</span>
        </h5>
        <img class="avatar" ng-src="{{::user.photo}}" alt="" ng-if="user.photo" ng-click="::closeMenu()" />
        <i class="icon-user" ng-if="!user.photo" ng-click="::closeMenu()"></i>
      </div>

    </div>

    <div class="anonymous" ng-show="(user.anonymous || !user) && isUserResolved">
      <a href="" ui-sref="sign-in">Sign in</a>
      <div class="userInfo">
        <h5>Sign in to get more from Muzli</h5>
      </div>
    </div>

  </div>

  <div ng-if="isLiteVersion === true || isLiteVersion === false" class="makeHome">
    <label class="switch elevated">
      <input type="checkbox" ng-model="isMuzliHomepage" ng-change="toggleIsLiteVersion()"
        class="ng-pristine ng-untouched ng-valid ng-not-empty">
      <span class="slider force-light"></span>
      Make Muzli your homepage
    </label>
  </div>

  <div class="layout" ng-if="!hideEnableAuthRecentSitesSetting || toggleMinimalView">

    <h5>View Preferences</h5>

    <ul class="appUtils">

      <li ng-if="!hideEnableAuthRecentSitesSetting">
        <label class="switch elevated">
          <input type="checkbox" id="showRecentSites" ng-model="showRecentSites"
            ng-change="authRecentSitesAction(showRecentSites)" class="ng-pristine ng-untouched ng-valid ng-not-empty">
          <span class="slider"></span>
          Enable most visited (legacy)
        </label>
      </li>

      <li ng-if="!hideEnableAuthRecentSitesSetting">
        <label class="switch elevated">
          <input type="checkbox" id="useSpeedDial" ng-model="useSpeedDial"
            ng-change="toggleSpeedDial(useSpeedDial)" class="ng-pristine ng-untouched ng-valid ng-not-empty">
          <span class="slider"></span>
          Use Speed Dial
        </label>
      </li>

      <li ng-if="toggleMinimalView">
        <label class="switch elevated">
          <input type="checkbox" ng-model="isSwitchedToHalfViewIndicator" ng-change="toggleMinimalView()"
            class="ng-pristine ng-untouched ng-valid ng-not-empty">
          <span class="slider"></span>
          Full view on load
        </label>
      </li>

    </ul>

    <div class="preview">

      <ul class="preview-sites" ng-class="{
        active: recentSites || useSpeedDial,
        speed_dial: useSpeedDial,
      }">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <ul class="preview-grid">

        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>
        <li class="active"></li>

        <li ng-class="{active: isSwitchedToHalfView}"></li>
        <li ng-class="{active: isSwitchedToHalfView}"></li>
        <li ng-class="{active: isSwitchedToHalfView}"></li>
        <li ng-class="{active: isSwitchedToHalfView}"></li>
        <li ng-class="{active: isSwitchedToHalfView}"></li>
        <li ng-class="{active: isSwitchedToHalfView}"></li>
        <li ng-class="{active: isSwitchedToHalfView}"></li>
        <li ng-class="{active: isSwitchedToHalfView}"></li>

      </ul>
    </div>



  </div>

  <div class="ad-free">

    <div>
      <h5 ng-if="!isAdsToggleEnabled">Invite friends to Unlock <br>Ad-Free Muzli</h5>
      <label class="switch elevated" ng-class="{disabled: !isAdsToggleEnabled}" ng-click="checkDisableAds()">
        <input type="checkbox" ng-model="areAdsDisabled" ng-change="toggleDisableAds()"
          ng-disabled="!isAdsToggleEnabled"
          class="ng-pristine ng-untouched ng-valid ng-not-empty">
        <span class="slider force-light"></span>
        Hide all Ads on Muzli
      </label>
    </div>

    <div class="cta" ng-if="!isAdsToggleEnabled">
      <button ng-if="!user.anonymous" ng-click="$state.go('all.referral')">Invite</button>
      <button ng-if="user.anonymous" ng-click="$state.go('sign-in')">Sign In</button>
    </div>

  </div>

  <div class="defaults">

    <div class="setting focusGroup">

      <label>Preferred content</label>

      <div class="dropdown" ng-click="showFocusGroupDD = !showFocusGroupDD">
        <div>{{user.selectedBundle || 'Design'}}</div>
        <i class="icon-play"></i>
        <ul ng-show="showFocusGroupDD">
          <li ng-click="selectBundle('design', true)">Design</li>
          <li ng-click="selectBundle('tech', true)">Technology</li>
          <li ng-click="selectBundle('news', true)">News</li>
          <li ng-click="selectBundle('culture', true)">Culture</li>
        </ul>
      </div>

    </div>
  </div>

  <div class="separator"></div>

  <div class="defaults">

    <div class="setting themeToggle">
      <label>Color theme</label>
      <div class="theme">
        <span ng-click="::setTheme('dark')" class="dark" title="Dark theme" title-dark="true"
          ng-class="{active: theme === 'dark'}"><i class="icon-check"></i></span>
        <span ng-click="::setTheme('white')" title="Light theme" title-dark="true" class="light"
          ng-class="{active: theme === 'white'}"><i class="icon-check"></i></span>
      </div>
    </div>

    <div class="setting sharebleToggle">
      <label>Show content suggestions for outgoing links</label>
      <div class="control">
        <span ng-click="toggleSharebleLinks(true)" class="show" title="Show suggestions" title-dark="true"
          ng-class="{active: enableSharebleLinks === true}"><i class="icon-check"></i></span>
        <span ng-click="::toggleSharebleLinks(false)" title="Don't show suggestions" title-dark="true" class="hide"
          ng-class="{active: enableSharebleLinks === false}"><i class="icon-close"></i></span>
      </div>
    </div>

    <div class="setting paletteToggle">
      <label>Show color palettes on cards</label>
      <div class="control">
        <span ng-click="togglePalettes(true)" class="show" title="Show palettes" title-dark="true"
          ng-class="{active: enablePalettes === true}"><i class="icon-check"></i></span>
        <span ng-click="::togglePalettes(false)" title="Don't show palettes" title-dark="true" class="hide"
          ng-class="{active: enablePalettes === false}"><i class="icon-close"></i></span>
      </div>
    </div>

    <div class="setting sharebleToggle">
      <label>Show Trending tile in the Home screen</label>
      <div class="control">
        <span ng-click="toggleTrendingTile(true)" class="show" title="Show trending" title-dark="true"
          ng-class="{active: enableTrendingTile === true}"><i class="icon-check"></i></span>
        <span ng-click="::toggleTrendingTile(false)" title="Don't show trending" title-dark="true" class="hide"
          ng-class="{active: enableTrendingTile === false}"><i class="icon-close"></i></span>
      </div>
    </div>

    <div class="setting sharebleToggle">
      <label>Show Short Videos section in Highlights</label>
      <div class="control">
        <span ng-click="toggleShorts(true)" class="show" title="Show shorts" title-dark="true"
          ng-class="{active: enableShorts === true}"><i class="icon-check"></i></span>
        <span ng-click="::toggleShorts(false)" title="Don't show shorts" title-dark="true" class="hide"
          ng-class="{active: enableShorts === false}"><i class="icon-close"></i></span>
      </div>
    </div>

    <div class="setting sharebleToggle">
      <label>Show Google Apps in the Header</label>
      <div class="control">
        <span ng-click="toggleGoogleApps(true)" class="show" title="Show Google apps" title-dark="true"
          ng-class="{active: enableGoogleApps === true}"><i class="icon-check"></i></span>
        <span ng-click="::toggleGoogleApps(false)" title="Don't show Google apps" title-dark="true" class="hide"
          ng-class="{active: enableGoogleApps === false}"><i class="icon-close"></i></span>
      </div>
    </div>

  </div>

  <div class="separator"></div>

  <div class="defaults">

    <h5>Search settings</h5>

    <div class="setting">
      <label>Default search</label>
      <div class="control">
        <span ng-click="::setDefaultSearch('web')" title="Web search" title-dark="true" class="default"
          ng-class="{active: defaultSearch === 'web'}"><i class="icon-web"></i></span>
        <span ng-click="::setDefaultSearch('muzli')" class="default" title="Muzli search" title-dark="true"
          ng-class="{active: defaultSearch === 'muzli'}"><i class="icon-muzli"></i></span>
      </div>
    </div>

  </div>

  <div class="separator"></div>

  <div class="defaults">

    <div class="setting sharebleToggle">
      <label>Use Muzli 2025 UI Theme</label>
      <div class="control">
        <span ng-click="toggleV4(true)" class="show" title="Use 2025 theme" title-dark="true"
          ng-class="{active: useV4 === true}"><i class="icon-check"></i></span>
        <span ng-click="::toggleV4(false)" title="Use 2024 theme" title-dark="true" class="hide"
          ng-class="{active: useV4 === false}"><i class="icon-close"></i></span>
      </div>
    </div>

  </div>

  <div class="separator"></div>

  <div class="links">
    <div class="contact">
      <ul>
        <li ng-repeat="item in contactLinks"><a ng-href="{{::item.href}}"
            ng-click="::events.settingsMenu.clickLink(item.text)" ng-bind="item.text"></a></li>
      </ul>
    </div>
  </div>

  <div class="social">

    <p class="pull-left">Also follow Muzli in</p>

    <div class="list pull-right">
      <a class="instagram icon-instagram" href="https://www.instagram.com/usemuzli/" title="Follow on Instagram"
        title-dark="true"></a>
      <a class="medium icon-medium" href="https://medium.com/@usemuzli" title="Check on Medium" title-dark="true"></a>
      <a class="fb icon-facebook" href="https://facebook.com/usemuzli" title="Check on Facebook" title-dark="true"></a>
      <a class="twitter icon-twitter" ng-click="::twitterFollow()" href="" title="Follow on Twitter"
        title-dark="true"></a>
    </div>

    <div class="subscribe">
      <a class="muzli" href="https://muz.li">https://muz.li</a>
      <a href="" class="copy" click-copy="https://muz.li" ng-class="{success: copySuccess}">Copy to clipboard</a>
    </div>

  </div>
</div>
<!-- / Settings -->