<dialog class="referral" click-outside="$state.go('all')">

    <div class="wrapper reward">

        <style>
          .advertise {
            padding: 40px;
          }
        </style>
      
        <h1>Nice! You've invited enough friends.</h1>
      
        <p>
          You've invited {{targetUserCount}} friends to Muzli! Click <strong>'Remove all ads'</strong> to enjoy an ad-free experience.
        </p>

        <img class="illustration" src="/images/referral-reward.png" alt="Referral reward">
        
        <span class="prop" ng-if="useV4">
          <i></i>
          <i></i>
          <i></i>
          <i></i>
          <i></i>
        </span>

        <div class="cta">
          <button ng-click="removeAds()">Remove All Ads</button>
        </div>
      
      </div>

</dialog>

