<div class="tile">
  <a target="_blank" ng-href="{{::item.link_out}}" class="feedLink" ng-mousedown="::postClick(item, $event)" >
    <div class="postPhoto">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAAAAAAAApWe5zwAAAAF0Uk5TAEDm2GYAAAAMSURBVHjaYmAACDAAAAIAAU9tWeEAAAAASUVORK5CYII=" muzli-lazy="{{::item.image}}" muzli-gif="{{::item.gif}}" muzli-is-gif="{{::item.isGif}}" alt="" />
      <span class="badge"></span>
    </div>
  </a>


  <div class="postMeta">

    <div class="postInfo">
      <h3 ng-bind="::item.title"></h3>
      <span class="source" ng-bind="::item.domainName"></span>
    </div>

    <div class="details angular-animate">

      <div class="post-menu">

          <i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>

          <ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
              <li><a href="" ng-click="vm.showAdsDialog = true; item.showMenu = false;">Why I'm seeing Ads?</a></li>
              <li><a href="" ui-sref="all.referral" ng-click="item.showMenu = false">Hide all Ads on Muzli</a></li>
          </ul>
      </div>

    </div>
  </div>

</div>
