<div class="blocker welcome" ng-controller="welcomeController" ng-class="{dark: useV4}">
	
	<div class="frame">
		
		<div class="content">
			
			<i class="icon-muzli"></i>
		
			<h2>Welcome to Muzli, your new tab!</h2>
			<p>Muzli is new-tab, design-oriented magazine that surfaces the most inspiring and engaging content out there.</p>
			
			<button class="cta" ng-click="nextFrame('welcome')">Let's go!</button>

			<a class="skip" ng-click="skipBundleSelection()">I am already using Muzli</a>

		</div>
		
		
		<div class="bg">
			<div class="face face-1"></div>
			<div class="face face-2"></div>
			<div class="face face-3"></div>
		</div>
	
	</div>

	<div class="frame">
		<h3>Choose the type of content you want Muzli to focus on</h3>
		<p>Don't worry, you can always change it later and we'll make sure you won't miss the big things.</p>
		
		<ul class="bundles">
			<li ng-class="{active: activeBundle === 'design'}">
				<i class="icon-check"></i>
				<a href="" ng-click="selectBundle('design', false, true)">Design & inspiration</a>
			</li>
			<li ng-class="{active: activeBundle === 'tech'}">
				<i class="icon-check"></i>
				<a href="" ng-click="selectBundle('tech', false, true)">Technology & code</a>
			</li>
			<li ng-class="{active: activeBundle === 'news'}">
				<i class="icon-check"></i>
				<a href="" ng-click="selectBundle('news', false, true)">News & business</a>
			</li>
			<li ng-class="{active: activeBundle === 'culture'}">
				<i class="icon-check"></i>
				<a href="" ng-click="selectBundle('culture', false, true)">Culture</a>
			</li>
		</ul>

		<button class="cta" ng-click="nextFrame('save-focus')">Save</button>

	</div>

	<div class="frame last">

		<div class="auth" is-eu-user>

			<h3>Sign in or Create an account to save <br>your content preferences and fully enjoy Muzli</h3>
			
			<div class="buttons">
				<a class="button google" href="" ng-click="v3SignIn(loginGoogle)"><i class="icon-google"></i><span>{{signInPrompt}} with Google</span></a>
				<a class="button facebook" href="" ng-click="v3SignIn(loginFacebook)"><i class="icon-facebook"></i><span>{{signInPrompt}} with Facebook</span></a>
				<a class="button twitter" href="" ng-click="v3SignIn(loginTwitter)"><i class="icon-twitter"></i><span>{{signInPrompt}} with Twitter</span></a>
				
				<span ng-if="useV4">Or</span>

				<a class="button email" href="" ng-click="v3SignIn(user.showEmailSignIn = true)"><i class="icon-email"></i><span>{{signInPrompt}} with Email</span></a>
				
				<a class="skip" ng-click="skipSignIn()" ng-if="user.allowAnonymous">Try Muzli without signing up</a>
				
			</div>

			<div class="notes">
				<p>
					By signing in I agree to Muzli's <a href="https://muz.li/terms" target="_blank">Terms of Service</a> and <a href="https://muz.li/privacy" target="_blank">Privacy Policy</a>.
				</p>
				<p>
					<strong>We'll never</strong> post to Twitter, Facebook or Google on your behalf or without permission.
				</p>
			</div>

			<div class="auth-email" ng-if="user.showEmailSignIn == true">
			    <dialog ng-include="'templates/dialog.email.html'" class="auth-email" ng-if="true" click-outside="user.showEmailSignIn = false" ng-controller="emailAuthController" ng-cloak></dialog>
			</div>

		</div>


	</div>

	<div class="bg-content" ng-if="useV4"></div>

</div>

