<div class="blocker welcome safari">
	<div class="split">
		<video src="https://files.muzli.cloud/muzli5.mp4" autoplay>
	</div>
	<div class="split">
		<h2>Make muzli your Homepage</h2>
		<p>
			Muzli is designed to serve as your Homepage! <br>
			To get the full experience, you need to set <strong>https://safari.muz.li/</strong> as your default Homepage manually, by following instructions.
		</p>
		<ul>
			<li>Click <strong>“Safari" ⇒ "Preferences”</strong> in the menu on the top-left corner of the screen.</li>
			<li>Select the <strong>“General”</strong> tab on the Preferences pop up window.</li>
			<li>Choose <strong>"Homepage"</strong> in the “New windows open with” drop down.</li>
			<li>Choose <strong>"Homepage"</strong> in the “New tab open with” drop down.</li>
			<li>Type <strong click-copy="https://safari.muz.li/" title="{{copySuccess ? 'Copied' : 'Copy to clipboard'}}" title-top="true">https://safari.muz.li/ <i class="icon-copy"></i></strong> in the “Homepage” text box and press ⏎ Return.</li>
			<li>Close the preferences window, and <strong>open a New tab</strong></li>
		</ul>
	
		<button class="cta" ng-click="$state.go('all')">Got it!</button>
		<a href="" ng-click="$state.go('all')">I'll do it later</a>
	</div>
</div>
