<section id="feed">

	<ul
		infinite-scroll='::loadMore()'
		infinite-scroll-distance='::infiniteScrollDistance'
		infinite-scroll-immediate-check='false'
		infinite-scroll-disabled='!feed.length'>

		<li ng-repeat="item in feed track by (item.id || item.link)"
		ng-class="::{
			fallbackImage: item.fallbackImage,
			showSharePromo: item.displaySharePromo,
			showMenu: item.showMenu,
			}"
		class="angular-animate"
		data-muzli-id="{{::item.id}}">

			<div class="tile jobs-tile">

				<a target="_blank" ng-href="{{::item.link_out}}" class="feedLink" ng-mousedown="::postClick(item, $event)">

					<div class="postPhoto" >

						<div class="job-thumbnail">
							<div class="company">
								<img ng-if="::item.image" hide-on-error ng-src="{{::item.image}}" />
								<div ng-if="::!item.image" class="logo-placeholder">{{item.company[0]}}</div>
								<h4>{{item.company}}</h4>
							</div>
							<h3 ng-bind="::item.title"></h3>
						</div>

						<div class="share">
							<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook" title-top="true"></span>
							<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter" title-top="true"></span>
							<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn" title-top="true"></span>
							<span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack" title-bottom="true"></span>
						</div>

						<div class="share-promo" ng-if="item.displaySharePromo">
							<div class="sharers">
								<h4>Nice! Maybe your friends<br>will also enjoy this?</h4>
								<span class="facebook icon-facebook" ng-click="::openSharer($event, 'facebook', item)" title="Share on Facebook"></span>
								<span class="twitter icon-twitter" ng-click="::openSharer($event, 'twitter', item)" title="Share on Twitter"></span>
								<span class="linkedin icon-linkedin" ng-click="::openSharer($event, 'linkedin', item)" title="Share on LinkedIn"></span>
								<span class="slack icon-slack" ng-click="::sendSlack($event, item)" title="Share on Slack"></span>
							</div>
						</div>

						<span class="badge"></span>

					</div>

					<div class="postInfo">
						<div class="job-info">
							<span>{{::item.type}}</span>
							<br/>
							<span>{{::item.location}}</span>
						</div>
					</div>
				</a>

				<div class="postMeta">

					<div class="details angular-animate">

						<span class="favorite icon-fav" ng-click="::toggleFavorite($event, item)" ng-if="::showFavorite" ng-class="{ active: item.favorite }" title="Save item" title-top="true"></span>

						<div class="post-menu" ng-if="user && (!user.anonymous || flags.useAnonymousSources)">

							<i class="icon-menu" title="More options" title-top="true" ng-click="item.showMenu = !item.showMenu"></i>

							<ul class="dropdown" ng-if="item.showMenu" click-outside="item.showMenu = false">
								<li ng-if="!item.nsfw && !item.userNSFW"><a href="" ng-click="::markNSFW(item)">Report NSFW</a></li>
								<li ng-if="item.userNSFW"><a href="" ng-click="::unmarkNSFW(item)">Mark as SFW</a></li>
								<li><a href="" ng-click="::markHidden(item)">Hide this from My feed</a></li>
								<li><a href="" ng-click="::demoteSource(item.source)">Hide all content from <strong>{{::item.source.title}}</strong></a></li>
							</ul>
						</div>

						<div class="stats pull-right">
							<span title="Votes" title-top="true" ng-if="::item.source.name === 'producthunt'">
								<span class="icon-ph"></span>
								<span>{{::item.stats.likes || 0 | thousandSuffix:1}}</span>
							</span>
							<span title="Clicks" title-top="true" ng-if="::item.clicks > 0">
								<span class="icon-click"></span>
								<span>{{::item.clicks || 0 | thousandSuffix:1}}</span>
							</span>
							<span title="Shares" title-top="true">
								<span class="icon-share-lite"></span>
								<span>{{::item.virality || 0 | thousandSuffix:1}}</span>
							</span>
		                </div>

		            </div>

				</div>
			</div>

		</li>
	</ul>

	<ul class="ghost" ng-hide="hideGhost">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<div ng-show="feed && !feed.length && !blockEmpty && !isRendering" ng-transclude="no-data">
	</div>

</section>
