<div class="wrapper">

  <h1>Why I am seeing Ads on Muzli?</h1>

  <p>
    We understand that ads may be disruptive, but for now, it's our way to cover server expenses and keep Muzli free for everyone. 
    Our team endeavor to curate ads that are relevant to the design community and are non-intrusive. 
  </p>

  <div class="cta first">
    <a href="" ng-click="vm.showAdsDialog = false; $state.go('all.referral');">Invite friends to Remove ads</a>
  </div>

</div>

<div class="wrapper">
  <h2>Advertising on Muzli</h2>
  <p>
    If you are looking for a way to reach hundreds of thousands of creatives within <br> the Muzli ecosystem, we offer multiple tiers of the promotion options.
  </p>

  <div class="cta">
    <a href="https://muz.li/advertisers/">Explore Partnership options</a>
    <a class="secondary" href="https://advertise.muz.li/checkout/new">Buy Ads on Muzli directly</a>
  </div>
</div>

